In [ ]:
expenses = [1200, 1300, 1500, 1700]
total = 0
for expense in expenses:
    total += expense
print("Total expenses:", total)

Total expenses: 5700

In [4]:
#Using range function
total = 0
for i in range(len(expenses)):
    total += expenses[i]
    print(f"Month {i+1} : expenses={expenses[i]}")
print("Total expenses:", total)

Month 1 : expenses=1200
Month 2 : expenses=1300
Month 3 : expenses=1500
Month 4 : expenses=1700
Total expenses: 5700

In [6]:
#enumerate function
for i, expense in enumerate(expenses, 1):
    print(f"Month {i} : expenses={expense}")

Month 1 : expenses=1200
Month 2 : expenses=1300
Month 3 : expenses=1500
Month 4 : expenses=1700

In [7]:
#Using continue statement
for i in range(10):
    if i%2==0:
        continue
    print(i,end=",")

1,3,5,7,9,

In [ ]:
#break statement
monthly_sales = [42, 38, 33, 38, 40, 45]
threshold = 35
for sale in monthly_sales:
    if sale<threshold:
        print(f"{sale} is less than threshold")
        break
    else:
        print(f"{sale} is greater than threshold")

42 is greater than threshold
38 is greater than threshold
33 is less than threshold

In [10]:
months = ["Jan", "Feb", "March", "April", "May", "June"]
for sale, month in zip(monthly_sales, months):
    if sale<threshold:
        print(f"{sale} is less than threshold in {month}")
    else:
        print(f"{sale} is greater than threshold in {month}")

42 is greater than threshold in Jan
38 is greater than threshold in Feb
33 is less than threshold in March
38 is greater than threshold in April
40 is greater than threshold in May
45 is greater than threshold in June