In [1]:
items = ["bread","pasta","fruits","veggies"]
items

['bread', 'pasta', 'fruits', 'veggies']

In [4]:
#len() function
print(len(items))

#type() function
print(type(items))

4
<class 'list'>

#### list() constructor

In [ ]:
#We can use list() constructor when creating a new list.
mobiles = list(("Redmi", "Samsung", "Motorola"))
print(mobiles)

['Redmi', 'Samsung', 'Motorola']

### Access items

In [44]:
fruits = ["Oranges", "Plum", "jamuns", "Banana", "Apples", "Muskmelon"]
fruits[3]

'Banana'

In [45]:
#Negative indexing
fruits[-3]

'Banana'

In [46]:
#Range of Indexes
fruits[-5:-1]

['Plum', 'jamuns', 'Banana', 'Apples']

In [47]:
fruits[:3]

['Oranges', 'Plum', 'jamuns']

#### in operator

In [48]:
"plum" in fruits

False

In [49]:
"Guava" in fruits

False

#### updating elements

In [50]:
fruits[3]="Guava"
fruits

['Oranges', 'Plum', 'jamuns', 'Guava', 'Apples', 'Muskmelon']

In [52]:
#Change a range of item values
fruits[4:6]=["Watermelon"]
fruits

['Oranges', 'Plum', 'jamuns', 'Guava', 'Watermelon']

#### list functions

In [53]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
# Append items
laptops = ["HP", "Dell", "Lenovo"]
laptops.append("ASUS")
laptops

['HP', 'Dell', 'Lenovo', 'ASUS']

In [56]:
#Insert items
laptops.insert(2, "MAC")
laptops

['HP', 'Dell', 'MAC', 'Lenovo', 'ASUS']

In [57]:
# extend list
GPU=["NVIDIA", "AMD"]
laptops.extend(GPU)
laptops

['HP', 'Dell', 'MAC', 'Lenovo', 'ASUS', 'NVIDIA', 'AMD']

In [60]:
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.)
# Using tuple
activities = ["Read", "write", "Code"]
tuple_activities = ("Sleep", "Eat")
activities.extend(tuple_activities)
print(activities)

#using set
set_activities = {"Exercise", "Bath", "Exercise"}
activities.extend(set_activities)
print(activities)

#using dictionary
dict_activities = {"Travel": "Bus", "Hobby": "Upskilling"}
activities.extend(dict_activities)
print(activities)

['Read', 'write', 'Code', 'Sleep', 'Eat']
['Read', 'write', 'Code', 'Sleep', 'Eat', 'Bath', 'Exercise']
['Read', 'write', 'Code', 'Sleep', 'Eat', 'Bath', 'Exercise', 'Travel', 'Hobby']

#### Removing elements from list

In [61]:
#remove() method removes the specidied item
activities.remove("Travel")
activities

['Read', 'write', 'Code', 'Sleep', 'Eat', 'Bath', 'Exercise', 'Hobby']

In [70]:
#If there are more than one item with the specified value, the remove() method removes the first occurrence:
num = [1,2,3,4,1,5,6,7,5,8,9]
num.remove(1)
num

[2, 3, 4, 1, 5, 6, 7, 5, 8, 9]

In [71]:
# pop() removes the specified index
num.pop()
num

[2, 3, 4, 1, 5, 6, 7, 5, 8]

In [72]:
num.pop(7)
num

[2, 3, 4, 1, 5, 6, 7, 8]

In [ ]:
#del also removes the specified index
del num[3]
num

[2, 3, 4, 5, 6, 7, 8]

In [74]:
del num[-2:]
num

[2, 3, 4, 5, 6]

In [75]:
#Clear keyword empties the list
num.clear()
num

[]

#### Sort()

In [77]:
#sort() method that will sort the list alphanumerically
fru = ["orange", "mango", "kiwi", "pineapple", "banana"]
fru.sort()
print(fru)

num1=[34,87,95,23,67,94]
num.sort()
print(num1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[34, 87, 95, 23, 67, 94]

In [79]:
#Sort descending
#To sort descending, use the keyword argument reverse = True
num2=[567,256,985,856,987,123]
num2.sort(reverse=True)
num2

[987, 985, 856, 567, 256, 123]

In [80]:
#reverse() method reverses the order of the list items
fruit = ["banana", "Orange", "Kiwi", "cherry"]
fruit.reverse()
fruit

['cherry', 'Kiwi', 'Orange', 'banana']

In [81]:
# The count() method returns the number of elements with the specified value.
numb=[1,2,3,4,2,4,1,2,5,6,7,8]
print(numb.count(1))
print(numb.count(7))

2
1

### Looping list comprehension

In [84]:
l1 = [1,2,3,4,5,6,7,8,9]

#syntax
#new_list = [expression for item in iterable if condition]
sqrd_even = [i**2  for i in l1 if i%2==0]
sqrd_even

[4, 16, 36, 64]

In [86]:
l2 = [i**2 if i%2==0 else i for i in l1 ]
l2

[1, 4, 3, 16, 5, 36, 7, 64, 9]