# Strings

In [1]:
first = "Sai"
last = "Sukesh"
type(first)

str

In [2]:
# Concatenation of string
print(first+" "+last)

Sai Sukesh

In [4]:
# Multiline String
mul_str = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(mul_str)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Format String

In [ ]:

age = 22
print(f"Age of {first} {last} is {age}")

Age of Sai Sukesh is 22

In [ ]:
# String as Arrays
name="Sri guru datta"
print(name[0])

# Looping through a string
for c in name:
    print(c,end="")

S
Sri guru datta14

In [9]:
#len() function
print(len(name))

14

#### Strings are immutable

In [17]:
fruit="Jamuns"
fruit[0]='b'

TypeError: 'str' object does not support item assignment

#### Check string using in operator

In [11]:
che_str="""Pune is good city in India. 
The one who lives there can visit the scenic treks and mountains during weekends. 
There are many PGs and hostels available for students and working professionals."""
che_str

'Pune is good city in India. \nThe one who lives there can visit the scenic treks and mountains during weekends. \nThere are many PGs and hostels available for students and working professionals.'

In [12]:
print(che_str)

Pune is good city in India.
The one who lives there can visit the scenic treks and mountains during weekends.
There are many PGs and hostels available for students and working professionals.

In [16]:
print("PGs" in che_str)

if "India" in che_str:
    print("Yes, India is present in string")

True
Yes, India is present in string

In [25]:
print(che_str.find("good"))

8

## String Slicing

In [19]:
str = "Hello , World!"

In [21]:
# Slice from start
print(str[:5])

Hello

In [22]:
#Slice to the end
print(str[8:])

World!

In [23]:
# Specify start and end index(end index is not included)
print(str[6:13])

, World

In [24]:
# Negative Indexing
print(str[-12:-9])

llo

## Functions in String

In [27]:
s = " I am fine, thank you! "

print(s)

 I am fine, thank you!

In [32]:
#Upper function
print(s.upper())

 I AM FINE, THANK YOU!

In [33]:
#Lower function
print(s.lower())

 i am fine, thank you!

In [35]:
#strip() function removes whitespaces from both beginning and end of string
s.strip()

'I am fine, thank you!'

In [37]:
s1 = "patient was charged 100$ for lab test"

#replace() function replaces a string with another string
s2 = s1.replace("100$", "50$")
s1

'patient was charged 100$ for lab test'

In [38]:
s2

'patient was charged 50$ for lab test'

    find():
        Returns the index of the first occurrence of the substring.
        Returns -1 if the substring is not found.
        Is available for strings. 
    index():
        Returns the index of the first occurrence of the substring or element.
        Raises a ValueError exception if the substring or element is not found.
        Is available for strings, lists, and other subscriptable iterables. 

In essence, find() is safer to use if you are unsure whether the substring or element exists, as it will not raise an exception. index() is more suitable when you expect the substring or element to be present and want to handle the case where it is missing through an exception.

In [39]:
#index() function returns the index of first occurrence of a substring
print(s1.index("100$"))

20

In [ ]:
#isdigit() function checks if all characters in the string are digits
'420'.isdigit()

True

In [41]:
'420a'.isdigit()

False

In [48]:
tickers="AAPL|NVDA|RIL|GOGL"
tickers.split("|")

['AAPL', 'NVDA', 'RIL', 'GOGL']

In [49]:
#endswith() function
file_name = "report.pdf"
file_name.endswith(".pdf")

True

In [51]:
s="hey\tbro"
print(s)

hey	bro

In [53]:
print(r"hey\tbro")

hey\tbro

### Other String Methods

In [56]:
# capitalize() function capitalizes the first character of the string and the rest is lower case
a1 = "hello world"
a2 = a1.capitalize()
print(a2)

a3="python is FUN!"
a3.capitalize()

Hello world

'Python is fun!'

In [63]:
# .center() method will center align the string, using a specified character (space is default) as the fill character.
a4="Hii"
print(a4.center(10))
a4.center(10,"*")

   Hii

'***Hii****'

In [ ]:
# count() 
a5="I love apples, apple are my favorite fruit"
a5.count("apple") #2
print(a5.count("apple", 10, 20))

1

In [68]:
# format() 
a6="My name is {name} and {age} years old living in {city}".format(name="Sai", age=22, city="Pune")
a6

'My name is Sai and 22 years old living in Pune'

In [ ]:
#isalpha()
al = "Suki03"
al.isalpha() #False

alp = "Suki"
alp.isalpha() #True

True

In [73]:
#isalnum()
x1="SG123"
x1.isalnum()

True

In [74]:
#islower()
x2="hello"
x2.islower()

True

In [75]:
# isupper()
x3="HELLO"
x3.isupper()

True

In [76]:
#The join() method takes all items in an iterable and joins them into one string
mytuple = ("Vamsi","Chaitanya", "Sruthik","Praneeth")
fin = ",".join(mytuple)
fin

'Vamsi,Chaitanya,Sruthik,Praneeth'

In [77]:
dict={"name":"Sai", "age":22, "city":"Pune"}
print("|".join(dict))

name|age|city